
/* GESAMTE SEITE*/

h1, h2, h3, p, a, li {
  font-family: 'Libre Baskerville', serif;
}

/* Cookies Banner */
#cookieConsent {
  background-color: rgba(20,20,20,0.8);
  min-height: 26px;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  padding: 8px 0 8px 30px;
  font-family: "Helvetica", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}
#cookieConsent a {
  color: #4B8EE7;
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
}
#closeCookieConsent {
  float: right;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 0 0 0;
  font-weight: bold;
}
#closeCookieConsent:hover {
  color: #FFF;
}
#cookieConsent a.cookieConsentOK {
  background-color: #F1D600;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px;
  font-family: "Helvetica", sans-serif;
}
#cookieConsent a.cookieConsentOK:hover {
  background-color: #E0C91F;
}
/*Cookie Banner End*/

body {
  line-height: 1.5;
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden;
  background-color: #e7eced;
  position: relative;
}
section{
  padding: 5% 0 5% 0;
}

.bg-white{
  background-color: white;
}

.top-spacing{
  margin-top: 5%;
}


.extra-padding{
  padding-top: 2%;
  padding-bottom: 2%;
}

.round-img{
  border-radius:35px;
}
.circle-img{
  border-radius: 50%;
}
.fill{
    min-height: 100%;
    height: 100%;
}

/* Überschriften */
.header-headline h1 {
  font-size: 7vw;    
  font-weight: 500;
  color: #fff;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
  padding: 2% 0px;
  margin-bottom: 0px;
  padding-bottom: 1%;
}
.header-headline h2 {
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  letter-spacing: 4px;
  opacity: 1;
  margin-top: 15%;
  text-transform: none;
}
.header-headline h3 {
  font-size: 2.5vw;
  font-weight: 500;
  letter-spacing: 4px;
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  margin: 0px;
}

.headline-darkblue{
  font-weight: bold;
  color: #2e4756;
}

.headline-lightblue{
  font-weight: bold;
  color: #3c7a89;
  margin-top: 0px;
}

.text-lightblue{
  color: #3c7a89;
  font-size: 18px;
}

.text-darkblue{
  color: #2e4756;
  font-size: 18px;
  margin-bottom: 0px;
}
.text-darkblue-bold{
  color: #2e4756;
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: bold;
}
.text{
  color:white;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
}


/* BUTTON */
.btn-blue { 
  color: #FFFFFF; 
  background-color: #3C7A89; 
  border-color: #3C7A89; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #3C7A89; 
  background-color: #FFFFFF; 
  border-color: #3C7A89; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #3C7A89; 
  border-color: #3C7A89; 
} 
 
.btn-blue .badge { 
  color: #3C7A89; 
  background-color: #FFFFFF;
  border: none;
}

/* NAVBAR */
.navbar-fixed-top{
  padding-top: 5px !important;
  padding-bottom:5px !important;
}

.navbar-default {
  background-color: rgba(46, 71, 86);
  margin: 0px;
  border-color: rgba(46, 71, 86);
  border-radius: 0px;
}
.navbar-right{
  margin-top:10px;
}
.logo{
  padding-left: 10px !important;
}
.nav>li>a {
  padding: 0px;
}
.navbar-brand {
  padding: 0px;
  height: inherit;
  font-family: 'Lato', sans-serif;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-size: 1.4vw;;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-fixed-top {
  padding: 15px 0;
  transition: all 0.5s;
}
@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(46, 71, 86);
		border-top: 0;
	}
}
.top-nav-collapse {
  background: rgba(46, 71, 86);
  padding: 25px 0;
}

/* HEADER CAROUSEL */

.carousel .carousel-inner .item img{
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,.7)
}

/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }

/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */

/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}

/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 

/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  

/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }

/** LEISTUGNEN **/

.title-leistungen{
  text-transform: uppercase;
  color: #3c7a89;
  font-weight: 900;
  font-size: 3vw;
}
.subtitle-leistungen{
  color: #2e4756;
  font-weight: 700;
}
li {
  list-style-type: circle;
  color: #2e4756;
  font-size: 18px;
  margin-bottom: 0px;
}

/** BERATUNG **/
.img-container {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(60, 122, 137, 0.8);
}
.img-container:hover .overlay {
  opacity: 1;
}
.img-container:active .img-overlay {
  opacity: 1;
}
.title-beratung{
  text-transform: uppercase;
  color: #2e4756;
  font-weight: 900;
  font-size: 1.5vw;
}

/* KONTAKT */
.kontakt-title{
  color: #2e4756;
  font-weight: bold;
}
.form-control{
  background-color: #3c7a89;
  color: white;
}
::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

/** ADDED BY SILLY **/

.permantoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 90%;
}
.permanentoverlaytext {
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 768px) {
  .carousel .carousel-inner .item img{
    max-height: 100%;
    background-size: auto; 
    
  }
}