
/* GESAMTE SEITE*/

body {
  line-height: 1.5;
  font-family: 'Bookman Old Style', arial;
  overflow-x: hidden;
  background-color: #e7eced;
}
section{
  padding: 5% 0 5% 0;
}
.bg-white{
  background-color: white;
}
.top-spacing{
  margin-top: 5%;
}
.text-blue{
  color: #3c7a89;
  font-size: 18px;
}
.text-dark-blue{
  color: #2e4756;
  font-size: 18px;
  margin-bottom: 0px;
}


/* NAVBAR */

.navbar-default {
  background-color: rgba(46, 71, 86);
}
.nav>li>a {
  padding: 0px;
}
.navbar-brand {
  padding: 0px;
  height: inherit;
  font-family: 'Lato', sans-serif;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFD34E;
  text-transform: uppercase;
	background-color: rgba(46, 71, 86);
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-size: 1.4vw;;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFD34E;
}
.navbar-fixed-top {
  padding: 15px 0;
  transition: all 0.5s;
}
@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(46, 71, 86);
		border-top: 0;
	}
}
.top-nav-collapse {
  background: rgba(46, 71, 86);
  padding: 25px 0;
}

/* HEADER CAROUSEL */

.fade-carousel {
  position: relative;
  height: 100vh;
}
.fade-carousel .carousel-inner .item {
  height: 100vh;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
width: 10px;
height: 10px;
opacity: 1;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.hero h1 {
  font-size: 7vw;    
  font-weight: bold;
  color: #fff;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
  padding: 2% 0px;
  margin-bottom: 0px;
  padding-bottom: 1%;
}
.hero h2 {
  font-size: 4vw;
  font-weight: bold;
  color: #fff;
  letter-spacing: 4px;
  opacity: 1;
  margin-top: 15%;
  text-transform: none;
}
.hero h3 {
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 4px;
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  margin: 0px;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
     -moz-transition: 2s all ease-in-out .1s; 
      -ms-transition: 2s all ease-in-out .1s; 
       -o-transition: 2s all ease-in-out .1s; 
          transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
     -moz-transition: 2s all ease-in-out .1s; 
      -ms-transition: 2s all ease-in-out .1s; 
       -o-transition: 2s all ease-in-out .1s; 
          transition: 2s all ease-in-out .1s;    
}

.header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000000;
  opacity: .7;
}

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
height: 100vh;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
background-image: url('../img/banner1.jpg'); 
}
.fade-carousel .slides .slide-2 {
background-image: url('../img/banner2.jpg');
}
.fade-carousel .slides .slide-3 {
background-image: url('../img/banner3.png');
}
.fade-carousel .slides .slide-4 {
  background-image: url('../img/banner4.png');
  }


/** TEAM **/

.name{
  font-weight: bold;
  color: #2e4756;
}
.job{
  font-weight: bold;
  color: #3c7a89;
  margin-top: 0px;
}

/** LEISTUGNEN **/

.title-leistungen{
  text-transform: uppercase;
  color: #3c7a89;
  font-weight: 900;
  font-size: 3vw;
}
.subtitle-leistungen{
  color: #2e4756;
  font-weight: 700;
}
li {
  list-style-type: circle;
  color: #2e4756;
  font-size: 18px;
  margin-bottom: 0px;
}


/** BERATUNG **/
.img-container {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(60, 122, 137, 0.8);
}
.img-container:hover .overlay {
  opacity: 1;
}
.img-container:active .img-overlay {
  opacity: 1;
}
.title-beratung{
  text-transform: uppercase;
  color: #2e4756;
  font-weight: 900;
  font-size: 1.5vw;
}

/** ADDED BY SILLY **/

.permantoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.permanentoverlaytext {
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: top;
  width: 100%;
}